#!/usr/bin/env zsh

# notification daemon
dunst &

# low battery notification
ps -aux | grep battery_popup.sh | grep -v grep | awk '{ print $2 }' | xargs kill -9
battery_popup -L 20 -d 1 -t 1m &

# shadows and smooth workspace switching
picom --experimental-backends --config ~/.config/picom/picom.conf &

# set brightness
light -S 30%

# change language on caps lock
setxkbmap -model pc104 -layout us,ru -variant ,, -option grp:shift_caps_toggle caps:escape &
#setxkbmap -model pc104 -layout us,ru -variant ,, -option caps:swapescape &

# dynamic wallpapers
feh --bg-fill /usr/share/wallpapers/nature-mountains-dawn-clouds.jpg &

# Disable ugly cursor when hovering over background
xsetroot -cursor_name left_ptr &

