alias cp="cp -i"
alias mv="mv -i"

alias v="nvim"
alias rg="ranger"

alias pac="sudo pacman"

alias ls="ls --color=auto"
alias ll="ls -lah"
alias la="ls -a"

alias gs="git status"

alias grep="grep --color=auto"

alias blcon="bluetoothctl power on; bluetoothctl connect E0:9D:FA:65:1F:51"
alias bldis="bluetoothctl power off"
