alias cp="cp -i"
alias mv="mv -i"

alias v="nvim"
alias rg="ranger"

alias pac="sudo pacman"

alias ls="ls --color=auto"
alias ll="ls -lah"
alias la="ls -a"

alias gs="git status"

alias grep='grep --color=auto'
